@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header,
section,
footer {
    width: 100%;

}

.header_btn {
    font-size: 16px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 700;
    width: 171px;
    height: 58px;
    border-radius: 35px;
    border: none;
    background-color: #2500f9;
    cursor: pointer;
}

h2 {
    font-size: 36px;
    line-height: 42px;
    color: #242f51;
    font-weight: 600;
}

p {
    font-size: 14px;
    line-height: 20px;
    color: #616368;
    font-weight: 400;
    width: 634px;
    margin: auto;
}


header {
    display: flex;
    padding-top: 92px;
    background-color: #f9fbfc;
    justify-content: center;


    .header_logoName {
        font-size: 30px;
        line-height: 44px;
        color: #fcae61;
        font-weight: 700;
        margin-right: 368px;
        margin-top: 15px;

        span {
            color: #242f51;
        }
    }

    nav {
        margin-top: 22px;

        .nav_a {
            font-size: 16px;
            line-height: 44px;
            color: #242f51;
            font-weight: 400;
            text-decoration: none;
            margin-right: 40px;

            .nav_a:last-child {
                margin-right: 0;
            }
        }
    }

    #burger {
        display: none;
        position: relative;
        width: 40px;
        height: 40px;
        box-shadow: -6px 10px 6px 0px rgba(12, 29, 228, 0.26);
        margin: 20px auto 0 0;

        .img_burger {
            width: 40px;
            height: 40px;
            margin: auto;
        }

        #close {
            display: none;
        }

        #menu {
            background-color: rgba(12, 29, 228, 0.26);
            width: 175px;
            height: 0;
            position: absolute;
            overflow: hidden;
            transition: 0.2s all cubic-bezier(1, -0.97, 0.86, 0.18);
            padding: 0 20px;
            left: 50px;
            top: -55px;
            display: flex;
            flex-direction: column;

            .link-burger {
                color: black;
                margin: 5px 0;
                color: #fcae61;
                text-decoration: none;
                font-size: 14px;
            }

            .link-burger:visited {
                text-decoration: underline;
            }
        }
    }
}

#blocks_smart {
    display: flex;
    background-image: url(assets/background/blue.png), url(assets/background/red.png), url(assets/background/phone.png), url(assets/background/house.png);
    background-position: -10px 59px, -111px -14px, 948px 19px, 0px 606px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 788px 630px, 1600px 865px, 446px 816px, 1600px 245px;
    background-color: #f9fbfc;
    padding-left: 288px;

    .smart_1 {
        margin: 245px 0 239px;
        width: 513px;

        .smart1_img {
            display: flex;
            flex-direction: row;
            width: 362px;
            height: 36px;
            border-radius: 17px;
            background-color: #e2eaed;

            .circle {
                width: 39px;
                height: 35px;
                border-radius: 17px;
                background-color: #feaa25;

                img {
                    margin: 8px 10px;
                }
            }

            p {
                margin: 0;
                font-size: 16px;
                line-height: 18px;
                color: #242f51;
                font-weight: 400;
                margin: 11px 0 6px 9px;
            }
        }

        h1 {
            padding: 24px 0 26px;
            font-size: 44px;
            line-height: 69px;
            color: #242f51;
            font-weight: 600;
        }

        p {
            font-size: 16px;
            line-height: 24px;
            color: #616368;
            font-weight: 400;
        }

        .header_btn {
            margin-top: 39px;
        }

        .a_video {
            font-size: 16px;
            color: #2500f9;
            font-weight: 400;
            cursor: pointer;
            text-decoration: none;
            margin-left: 27px;
        }
    }
}

#bloks_benefits {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 148px;


    .benefits_h2 {
        padding-top: 130px;
    }

    .benefits_p {
        padding: 35px 0 93px;
    }

    .benefits_pros {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 964px;
        flex-wrap: wrap;
        margin: auto;

        .pros1 {
            display: flex;
            flex-direction: column;
            margin-left: 93px;
            margin-bottom: 69px;

            .pros_elipse {
                width: 88px;
                height: 88px;
                border-radius: 44px;
                background-color: #ffecef;
                margin: auto;

                img {
                    margin: 15px;
                }
            }

            #elipse2 {
                background-color: #eaf9ff;
            }

            #elipse3 {
                background-color: #fff6d3;
            }

            #elipse4 {
                background-color: #e4ffee;
            }

            #elipse5 {
                background-color: #f4f4ff;
            }

            #elipse6 {
                background-color: #fdeee4;
            }

            h3 {
                font-size: 20px;
                line-height: 20px;
                color: #242f51;
                font-weight: 600;
                padding: 36px 0 15px;
            }

            p {
                font-size: 15px;
                line-height: 22px;
                color: #616368;
                font-weight: 400;
                padding: 0;
                width: 258px;
            }
        }

        .pros1:nth-child(3n+1) {
            margin-left: 0;
        }
    }
}

#faq {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 140px;

    .faq_p {
        padding: 32px 0 65px;
    }


    .questions {
        width: 946px;
        margin: auto;
        text-align: left;

        details summary::-webkit-details-marker {
            display: none;
        }

        details>summary {
            list-style: none;
        }

        details {
            background-color: #f5f7fa;
            padding: 24px 38px 18px 50px;
            margin-bottom: 9px;
        }

        details summary {
            display: block;
            cursor: pointer;
            outline-style: none;
            font-size: 24px;
            color: #242f51;
            font-weight: 400;
            background-color: #f5f7fa;
            margin-left: -14px;
        }

        details summary::before {
            content: "+";
            position: relative;
            left: 840px;
        }

        details[open] summary::before {
            content: "-";
        }

        .details {
            width: 810px;
            font-size: 16px;
            line-height: 26px;
            color: #616368;
            font-weight: 400;
            background-color: #f5f7fa;
            padding: 37px 0 60px 0;
            margin: 0;
        }
    }
}


@media screen and (max-width: 1350px) {

    header {
        padding: 80px 60px 0;

        .header_logoName {
            margin-right: 240px;
        }
    }

    #blocks_smart {
        background-position: -10px 59px, -111px -14px, 860px 19px, 0px 606px;
        background-size: 788px 630px, 1600px 865px, 346px 716px, 1600px 245px;
        padding-left: 140px;
    }

}

@media screen and (max-width: 1200px) {
    header {
        padding: 70px 80px 0;

        nav {
            margin-top: 0;
        }
    }

    #blocks_smart {
        background-position: -10px 59px, -111px -14px, 770px 110px, 0px 606px;
        background-size: 788px 630px, 1600px 865px, 246px 516px, 1600px 245px;

        .smart_1 {
            margin: 210px 0 239px;

            h1 {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {

    header {
        .header_logoName {
            margin-right: 100px;
            font-size: 28px;
            margin-top: 20px;
        }

        nav {
            display: none;

            .nav_a {
                font-size: 14px;
                line-height: 34px;
            }
        }

        #burger {
            display: block;
        }
    }

    .header_btn {
        font-size: 12px;
        width: 130px;
        height: 40px;
        margin-top: 15px;
    }

    #blocks_smart {
        background-position: 300px 59px, -300px -345px, 770px 110px, 0px 606px;
        background-size: 788px 630px, 1600px 865px, 0 0, 0 0;
        padding-left: 30px;

        .smart_1 {
            margin: 105px auto;
        }
    }

    #bloks_benefits {
        margin-bottom: 80px;

        .benefits_p {
            padding: 20px 0 50px;

        }

        .benefits_h2 {
            padding-top: 80px;
        }

        .benefits_pros {
            width: 854px;

            .pros1:nth-child(3n+1) {
                margin-left: 93px;
            }

            .pros1:nth-child(2n+1) {
                margin-left: 0;
            }
        }
    }

    #faq {
        h2 {
            font-size: 28px;
            line-height: 32px;
        }

        .questions {
            width: 700px;

            details {
                padding: 24px 20px 18px 30px;

                summary {
                    font-size: 18px;
                    margin-left: -10px;
                }
            }

            details summary::before {
                left: 620px;
            }

            .details {
                width: 600px;
                font-size: 14px;
                padding: 30px 0 50px 0;
            }
        }
    }
}